body{
    font-family: verdana;
    background-color: lightcyan;
}

header{
    height: 50px;
    border-bottom: solid black;
}

h1{
    font-size: 35px;
}

h2{
    color:darkgreen;
    font-size: 25px;
}

p{
    color:blue;
    font-size: 18px;
}

.texto-em-inglês{
    font-style: italic;
}

footer{
    border-top: solid black;
}

footer p{
    font-size: 15px;
    color: black;    
}