body{
    background-color: darkslategray;
    color: white;
    text-align: center;
    font-family: Roboto;
}

p{
    font-size: 18px;
}

h2{
    color: orange;
}

header{
    border-bottom: 1px solid gray;
}

footer{
    border-top: 1px solid gray;
    color: gray;
}

#nome-usuário{
    font-weight: bold;
}

.texto-inglês{
    font-style: italic;
}

@media screen and (max-width:420px){
    img{
        width: 100%;
    }
    p{
        font-size: 24px;
    }
}